*.gem
*.rbc
*.swp
*.tmproj
*~
.DS_Store
.\#*
.bundle
.config
.yardoc
.vagrant
Gemfile.lock
InstalledFiles
\#*
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmtags
lib/test.rb
shared/
vendor
